@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;600;700&family=Fira+Code&display=swap");
/* @import url("https://fontlibrary.org//face/segment7"); */

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

body {
    --color-bkg-1: hsl(0, 0%, 100%);
    --color-bkg-2: hsl(0, 0%, 95%);
    --color-bkg-foot: hsl(0, 0%, 96%);

    --color-text-1: hsl(0, 0%, 0%);
    --color-text-number: lab(55 -11.72 -58.05);
    --color-text-symbol: lab(49 83.99 -29.48);
    --color-text-btn: var(--color-text-1);
    --color-text-foot: hsl(0, 0%, 85%);
    --color-text-foot-hover: hsl(0, 0%, 70%);
    --color-text-foot-link: hsl(200deg 100% 40%);

    --color-result-underline: hsl(0, 0%, 66%);

    --color-btn-shadow: hsl(0deg 0% 0% / 0.5);
    --shad-btn-rim-inner: 0 0 0 0.04rem grey;

    --color-select_btn-front: hsl(180, 69%, 66%);
    --color-select_btn-rim: var(--shad-btn-rim-inner),
        0 0 0 0.34rem var(--color-select_btn-front);
    --color-select_btn-edge: linear-gradient(
        to left,
        hsl(180, 87%, 26%) 0%,
        hsl(180, 87%, 35%) 6%,
        hsl(180, 87%, 35%) 94%,
        hsl(180, 87%, 26%) 100%
    );
    /* --color-select_btn-list: hsl(180, 87%, 35%); */

    --color-num-bright: lab(55 -11.72 -58.05 / 0.45);
    --color-num-bord: hsl(30, 7%, 71%);
    --color-num-rim-edge: linear-gradient(
        to left,
        hsl(30 2% 50%) 0%,
        hsl(30 2% 60%) 18%,
        hsl(30 2% 60%) 82%,
        hsl(30 2% 50%) 100%
    );

    --color-gen_btn-front: lab(81 -12.9 -25.14);
    --color-gen_btn-rim: var(--shad-btn-rim-inner),
        0 0 0 0.34rem var(--color-gen_btn-front);
    --color-gen_btn-edge: linear-gradient(
        to left,
        hsl(200deg 100% 26%) 0%,
        hsl(200deg 100% 40%) 8%,
        hsl(200deg 100% 40%) 92%,
        hsl(200deg 100% 26%) 100%
    );

    --color-copy_btn-front: lab(78 25.23 -36.4);
    --color-copy_btn-rim: var(--shad-btn-rim-inner),
        0 0 0 0.34rem var(--color-copy_btn-front);
    --color-copy_btn-edge: linear-gradient(
        to left,
        hsl(275deg 28% 35%) 0%,
        hsl(275deg 28% 50%) 25%,
        hsl(275deg 28% 50%) 75%,
        hsl(275deg 28% 35%) 100%
    );

    --color-confirm_btn-front: lab(89 -26.48 8.74);
    --color-confirm_btn-rim: var(--shad-btn-rim-inner),
        0 0 0 0.34rem var(--color-confirm_btn-front);
    --color-confirm_btn-edge: linear-gradient(
        to left,
        hsl(150.5deg 60% 35%) 0%,
        hsl(150.5deg 60% 50%) 4%,
        hsl(150.5deg 60% 50%) 96%,
        hsl(150.5deg 60% 35%) 100%
    );

    --color-splph-animals: lab(87 11.05 41.21);
    --color-splph-clear: lab(86 -17.01 -13.61);
    --color-splph-fantasy: lab(82 33.03 -21.64);
    --color-splph-veg: lab(88 -28.68 27.73);
    --color-splph-space: lab(81 -0.67 -3.63);
}

* {
    box-sizing: border-box;
}

:root {
    overflow-y: hidden;
}

.page-wrapper {
    color: var(--color-text-1);
    font-family: "Azeret Mono", "Courier New", Courier, monospace;
    font-weight: normal;
    background-color: var(--color-bkg-1);
    padding: 15px;
    min-height: 100vh; /* legacy browser support */
    min-height: 100svh;
    display: grid;
    place-content: center;
    justify-items: center;
}

.app-container {
    background-color: var(--color-bkg-2);
    border-radius: 8px;

    padding: 30px 0.8rem 1.8rem;
    /* width: 42rem; */
    width: 52rem;
    width: 50rem;
    width: 47.8rem;

    position: relative;
}

.title {
    font-weight: 700;
    margin: 5px 0 5px;
    text-align: center;
}

.result-section {
    background-color: var(--color-bkg-2);
    padding: 20px 0;
    position: relative;
    width: 100%;
    font-family: "Fira code", Courier, monospace;
}

.result-container {
    color: white;
    font-size: 46px;
    letter-spacing: 1px;

    height: 60px;
    padding: 12px 2rem 0px;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

#result {
    display: inline-block;

    color: var(--color-text-1);
    font-size: 2rem;
    letter-spacing: 0.25ch;

    height: 1.5em;
    min-width: 1ch;
    border-bottom: 4px solid var(--color-result-underline);
    padding-bottom: 1px;
    margin: 0 5px 0 0;
}

.output-number {
    color: var(--color-text-number);
}

.output-symbol {
    color: var(--color-text-symbol);
}

.spellphabet-section {
    line-height: 200%;

    min-height: 8rem;
    width: 100%;
    padding: 1rem 2rem 0;
}

/* || Buttons */

.button-vars {
    /* transform: translateY */
    /* ratio: .5 */
    --front-shift: -5px;
    --btn-shadow-shift: 2.5px;

    /* ratio: .66 */
    --hover-front-shift: -6px;
    --hover-btn-shadow-shift: 4px;

    /* ratio: ~.9 */
    --active-front-shift: -2.1px;
    --active-btn-shadow-shift: 1.9px;

    /* transition: */
    --transit-btn-time: 600ms;

    --transit-btn-front: filter var(--transit-btn-time),
        transform var(--transit-btn-time) cubic-bezier(0.3, 0.7, 0.4, 1);
    --transit-btn-edge: filter var(--transit-btn-time);
    --transit-btn-shadow: transform var(--transit-btn-time)
        cubic-bezier(0.3, 0.7, 0.4, 1);

    --transit-hover: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
    --transit-active: transform 34ms;
}

.buttons {
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    margin: auto;
    padding-left: 1.7rem; /* manually tuned for visual balance */

    width: 45rem;

    position: relative;
}

.btn-sctn {
    position: relative;
    display: flex;
}
.btn-sctn.left {
    justify-content: right;
}

.gen {
    --color-rim: var(--color-gen_btn-rim);
    --color-edge: var(--color-gen_btn-edge);
    --color-front: var(--color-gen_btn-front);
}

.pushable {
    font-family: "Azeret Mono", Courier, monospace;
    font-weight: 600;
    display: inline-block;
    position: relative;
    border: none;
    border-radius: 0.75rem;
    background: transparent;
    padding: 0;
    outline-offset: 8px;
    transition: filter 600ms;

    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}

.rim {
    background-color: transparent;
    box-shadow: var(--color-rim);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;

    filter: brightness(90%);
}

.shadow {
    background: var(--color-btn-shadow);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;

    will-change: transform;
    transform: translateY(var(--btn-shadow-shift));
    transition: var(--transit-btn-shadow);
}

.edge {
    background: var(--color-edge);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;

    transition: var(--transit-btn-edge);
}

.front {
    font-size: var(--font-size);
    color: var(--color-text-btn);
    background-color: var(--color-front);

    padding: var(--pad-block) var(--pad-inline);
    display: block;
    position: relative;
    border-radius: inherit;

    will-change: transform;
    transform: translateY(var(--front-shift));
    transition: var(--transit-btn-front);
}

.spellphabet-btn {
}

[data-inclusive-menu] {
    position: relative;
    display: inline-block;
}
[data-inclusive-menu-opens],
[data-inclusive-menu] [role^="menuitem"] {
    text-align: left;
    border: 0;
}
[data-inclusive-menu] [role="menu"] {
    position: absolute;
    left: 0;
}
[data-inclusive-menu] [data-inclusive-menu-from="right"] {
    left: auto;
    right: 0;
}
[data-inclusive-menu] [role^="menuitem"] {
    display: block;
    min-width: 100%;
    white-space: nowrap;
}
[data-inclusive-menu] [role^="menuitem"][aria-checked="true"] {
    /* border: 4px solid rgb(7, 214, 7); */
}

.btn-small {
    --font-size: 0.75rem;

    /* padding */
    --pad-block: 0.6rem;
    --pad-inline: 1.2rem;
}
.btn-large {
    --font-size: 1.25rem;

    /* padding */
    --pad-block: 0.75rem;
    --pad-inline: 2.625rem;
}
.custom-menu {
    display: grid;
    align-items: center;

    /* padding */
    --pad-block: 0.6rem;
    --pad-inline: 1.2rem;

    /* colors */
    --color-rim: var(--color-select_btn-rim);
    --color-edge: var(--color-select_btn-edge);
    --color-front: var(--color-select_btn-front);

    .front {
        font-size: 0.75rem;

        padding-block: var(--pad-block);
        padding-inline: var(--pad-inline) calc(var(--pad-inline) + 1.1rem);
    }
}

.dropdown-icon {
    position: absolute;
    right: 1.26rem;
    bottom: 0.67rem;

    transform: scale(150%);
}

/* .spell-list {
    width: 100%;
    padding: 0 0.7rem;
    transform: translateY(-1rem);
}

.spellphabet-option {
    color: white;
    font-family: "Azeret Mono", Courier, monospace;
} */

/* .custom-select {
    position: relative;
    border-radius: 0.75rem;
}

.select-label {
    position: absolute;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}

.select-spellphabet {
    font-family: "Azeret Mono", Courier, monospace;
    font-size: 1rem;
    padding: 1em 1.5em;
    border: 0;
    border-radius: inherit;
}

.custom-select-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background: red;
    height: 3em;
    width: 2.4em;
    pointer-events: none;
} */

.btn-copy {
    .front {
        padding: 0.75rem 1.2rem;
        background-color: var(--color-copy_btn-front);
    }

    .edge {
        background: var(--color-copy_btn-edge);
    }

    .rim {
        box-shadow: var(--color-copy_btn-rim);
    }
}

.pushable:hover,
.pushable:focus-visible {
    .front {
        transform: translateY(var(--hover-front-shift));
        filter: brightness(110%);
        transition: filter 250ms,
            transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
    }

    .edge {
        filter: brightness(110%);
        transition: filter 250ms;
    }

    .shadow {
        transform: translateY(var(--hover-btn-shadow-shift));
        transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
    }
}

.pushable:active {
    .front {
        transform: translateY(var(--active-front-shift));
        transition: transform 34ms;
    }

    .shadow {
        transform: translateY(var(--active-btn-shadow-shift));
        transition: transform 34ms;
    }
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}

/* || Input Settings */

.settings-section {
    font-size: 0.79rem;
    display: grid;
    grid-template-columns: min-content;
    gap: 0.7rem;
    margin: 2.5rem 1.2rem 0;

    --unchecked-shadow: 0 0 0.4rem 0rem hsl(0, 0%, 63%);
}

.number-input-block {
    position: relative;
    box-shadow: 0 0 0 4px var(--color-num-bord);
    border-radius: 0.5rem;
}

.number-input-field {
    -moz-appearance: textfield;
    appearance: textfield;

    font-family: "Fira code", "Courier New", Courier, monospace;
    font-size: 1.1rem;
    font-weight: 800;
    color: var(--color-text-number);

    border-radius: inherit;
    border: 0;
    padding: 3px 0px 2px 10px;

    height: 100%;
    width: 100%;

    will-change: filter;
    transition: filter 100ms;
}

/* .spinner {
    display: none;
    width: 0px;
} */

/* .number-input .rim-edge {
    background: var(--color-num-rim-edge);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: inherit;
} */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.length-label,
.include-label,
.setting {
    /* position: relative; */
    grid-row: 1;
    width: fit-content;
}

.length-label,
.include-label {
    text-align: end;
    display: block;
    padding: 0.6rem 0rem 0.6rem 0rem;
}

.setting {
    border-radius: 0.5rem;
    box-shadow: none;

    .check-button {
        will-change: transform, filter;
        transition: transform 200ms, filter 200ms;
    }
}

.setting:hover {
    transform: scale(102%);
    filter: brightness(120%);
    transition: transform 70ms, filter 70ms;
}
.setting:active {
    transform: scale(98%);
    filter: brightness(120%);
    transition: transform 70ms, filter 70ms;
}

.setting label {
    text-align: center;
    display: block;
    border-radius: inherit;
}
.label-text {
    position: relative;
    background-color: var(--color-bkg-1);
    padding: 0.57rem 0.6rem;
    border-radius: inherit;

    display: block;
    height: 100%;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.check-button,
.number-input-block {
    box-shadow: var(--unchecked-shadow);
}

.setting:has(:checked) .check-button {
    box-shadow: none;
}

.check-button {
    border-radius: inherit;
    position: relative;
    z-index: 0;
}

.check-button::before,
.check-button::after {
    content: "";
    position: absolute;
    inset: -0.1rem;
    z-index: -1;
    border-radius: 0.6rem;
    background: conic-gradient(
        from var(--gradient-angle),
        rgb(15, 215, 215),
        rgb(148, 166, 238),
        rgb(3, 232, 232),
        rgb(208, 140, 233),
        rgb(135, 185, 235),
        rgb(15, 215, 215)
    );

    filter: opacity(0%);
    transition: filter 130ms;
}

.check-button::after {
    filter: blur(0.5rem) opacity(0%);
}

:checked + .check-button {
    background-color: var(--color-bkg-1);
}

:checked + .check-button::before,
:checked + .check-button::after {
    animation: rotation 10s linear infinite;
    filter: opacity(50%);
}

:checked + .check-button::after {
    filter: blur(0.5rem) opacity(50%);
}

input:focus-visible + .check-button {
    transform: scale(110%);
    filter: brightness(120%);
    transition: transform 180ms, filter 180ms;
}

.setting:has(:focus-visible) {
    z-index: 1;
}

/* prettier-ignore */
@keyframes rotation {
    0%   { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg; }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@media screen and (max-width: 400px) {
    .result-container {
        font-size: 14px;
    }
}

/* Dialog */
/**
 * 1. Make the dialog container, and its child overlay spread across
 *    the entire window.
 */
.dialog-container,
.dialog-overlay {
    position: fixed; /* 1 */
    top: 0; /* 1 */
    right: 0; /* 1 */
    bottom: 0; /* 1 */
    left: 0; /* 1 */
}

/**
  * 1. Make sure the dialog container and all its descendants sits on
  *    top of the rest of the page.
  * 2. Make the dialog container a flex container to easily center the
  *    dialog.
  */
.dialog-container {
    z-index: 2; /* 1 */
    display: flex; /* 2 */
    --animation-duration: 30ms;
}

/**
  * 1. Make sure the dialog container and all its descendants are not
  *    visible and not focusable when it is hidden.
  */
.dialog-container[aria-hidden="true"] {
    display: none; /* 1 */
}

/**
  * 1. Make the overlay look like an overlay.
  */
.dialog-overlay {
    background-color: rgb(43 46 56 / 0.8); /* 1 */
    animation: fade-in var(--animation-duration) both;
}

/**
  * 1. Vertically and horizontally center the dialog in the page.
  * 2. Make sure the dialog sits on top of the overlay.
  * 3. Make sure the dialog has an opaque background.
  */
.dialog-content {
    margin: auto; /* 1 */
    margin-bottom: 30svh;
    margin-bottom: 40svh;
    transform: translateY(10svh);

    z-index: 2; /* 2 */
    position: relative; /* 2 */
    background-color: white; /* 3 */

    padding: 2em 2.5em;
    max-width: 90%;
    width: 725px;
    border-radius: 0.5rem;

    animation: fade-in 400ms var(--animation-duration) both;
}

.dialog-title {
    margin: 0;
}

.dialog-close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;

    border: 0;
    border-radius: 30%;
    padding: 0.2em;
    background-color: transparent;
    font-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
    transition: 0.15s;
}

.dialog-close:hover {
    background-color: rgb(50 50 0 / 0.15);
}

.dialog-main {
    display: grid;
    grid-template-columns: 0fr 1.7fr 0fr 3fr;

    --gap: 1rem;
    gap: var(--gap);

    padding-block: 1rem;
}

.dialog-main > * {
    grid-row: 1;
}

.spell-group {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    /* gap: 1fr; */
    position: relative;
    align-items: center;
    justify-content: center;

    fill: none;

    --pad-block: 0.7rem;
    padding: var(--pad-block) 0.4rem;

    --option-wrapper-pad: 0.3rem;

    --color-rim: var(--color-gen_btn-rim);
    --color-edge: var(--color-gen_btn-edge);
    --color-front: var(--color-gen_btn-front);
}

.option-wrapper,
.option-wrapper-leg {
    width: 100%;

    padding: var(--option-wrapper-pad);
    margin: 0.1rem;

    --opt-border-radius: 0.4rem;
    border-radius: var(--opt-border-radius);
    position: relative;
    fill: white;
}

.active-legend {
    --bg-color: grey;
    font-style: italic;
    font-size: 0.7rem;
    color: var(--bg-color);

    position: absolute;
    bottom: 0;
}

/* .option-wrapper:hover {
    background-color: lab(87 7.97 -21.01);
    fill: lab(87 7.97 -21.01);
} */

.option-wrapper:has(:checked),
.option-wrapper:has([aria-checked]) {
    /* --bonus-width: 1.7rem;
    --bonus-width: 0.45rem;
    --arrow-display: initial;

    width: calc(100% + var(--bonus-width)); */
}

.option-flex,
.option-flex-leg {
    position: relative;
    width: 100%;
    z-index: 3;
}

.option-flex-leg {
    display: flex;
    /* gap: 0.5rem; */
    justify-content: center;
}

.display-arrow {
    /* height: calc(100% + (2 * var(--option-wrapper-pad)));
    min-width: min-content; */
    position: absolute;
    /* height: 10%; */
    height: 32px;
    height: calc(1em + 2 * var(--option-wrapper-pad));
    height: 36px;
    /* width: 19px; */
    top: 0;
    /* right: 0; */
    /* padding: 0 3px; */
    top: calc(-1 * var(--border-width) + 0.5px);
    right: calc(
        -1 * var(--gap) - var(--option-wrapper-pad) - var(--border-width) + 0.5 *
            var(--opt-border-radius) - 1px
    );

    stroke: lightgrey;
    stroke-width: var(--border-width);
    fill: inherit;
    display: var(--arrow-display);
}
.displayed-outline {
    position: absolute;
    right: calc(
        -1 * var(--gap) - var(--option-wrapper-pad) + 0.5 * var(--border-width) -
            0.3px
    );
    width: 310px;

    stroke: lightgrey;
    /* defined by spell-group, words-display */
    stroke-width: var(--border-width);
    z-index: 2;
    /* fill: white; */
}

/* 
  || Specific button settings
*/

.btn-animals {
    --bg-color: var(--color-splph-animals);
}

.btn-clear-n-easy {
    --bg-color: var(--color-splph-clear);
}

.btn-fantasy {
    --bg-color: var(--color-splph-fantasy);
}

.btn-fruit-n-veg {
    --bg-color: var(--color-splph-veg);
}

.btn-space {
    --bg-color: var(--color-splph-space);
}

.spellphabet-option-btn {
    background: none;
    border: none;
    display: inline;
    width: 100%;

    will-change: transform, filter;
    transition: transform 200ms, filter 200ms;

    --font-size: 1rem;

    .spellphabet-option-front {
        font-size: var(--font-size);
        color: var(--color-text-btn);
        background-color: var(--bg-color);

        padding: var(--pad-block) var(--pad-inline);
        display: block;
        position: relative;
        border-radius: inherit;
    }
}

.spellphabet-option-btn:hover {
    transform: scale(102%);
    filter: brightness(110%);
    transition: transform 70ms, filter 70ms;
}

.spellphabet-option-btn:active {
    transform: scale(98%);
    transition: transform 70ms, filter 70ms;
}

.currently-active-container,
.currently-displayed-container,
.currently-active-container-leg {
    display: grid;
    align-items: center;
    position: relative;

    --height: 1.5em;
    height: var(--height);
    width: calc(1.14 * var(--height));
    top: calc(0.5 * (100% - var(--height)));
    position: absolute;
}

.currently-active-container {
    left: calc(-1 * var(--height) - 0.5rem);
}

.currently-active-container-leg {
    left: 1.2rem;
}

.currently-displayed-container {
    right: calc(-1 * var(--height) - 0.5rem);
}

.currently-active,
.currently-displayed,
.currently-active-leg {
    /* Defined by .option-wrapper */
    /* padding: 0 calc(0.6rem + var(--bonus-width)) 0 0; */
    position: absolute;

    /* height: var(--height); */
    height: 100%;
    width: 100%;
    /* top: calc(0.5 * (100% - var(--height))); */

    svg {
        height: 100%;
        width: 100%;
        fill: var(--bg-color);
    }
}

.active-legend-text {
    /* padding-inline: auto; */
}

.currently-displayed {
}

.words-display[data-displayed="0"] {
    --brd-clr: var(--color-splph-animals);
}
.words-display[data-displayed="1"] {
    --brd-clr: var(--color-splph-clear);
}
.words-display[data-displayed="2"] {
    --brd-clr: var(--color-splph-fantasy);
}
.words-display[data-displayed="3"] {
    --brd-clr: var(--color-splph-veg);
}
.words-display[data-displayed="4"] {
    --brd-clr: var(--color-splph-space);
}

.words-display {
    --border-width: 0.2rem;
    border: var(--border-width) solid var(--brd-clr);
    border-radius: 0.5rem;

    column-count: 2;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;

    padding: 0.7rem 1.4rem;
    line-height: 180%;
}

.spellphabet-display-word {
}

.confirm-btn-wrapper {
    display: grid;
    align-items: center;
}

.dialog-confirm-btn {
    position: relative;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;

    --color-rim: var(--color-confirm_btn-rim);
    --color-edge: var(--color-confirm_btn-edge);
    --color-front: var(--color-confirm_btn-front);
}

.hidden {
    display: none;
}

.footer {
    position: absolute;
    left: 0;
    bottom: -1.9rem;
    bottom: 0.1rem;
    width: 100%;
    background-color: var(--color-bkg-foot);
    display: grid;
    align-items: center;
}

.attribution {
    position: relative;
    margin: auto;
    padding: 0.3rem 0;
    color: var(--color-text-foot);
    font-family: "Azeret Mono", "Courier New", Courier, monospace;
    font-style: italic;
    font-size: 70%;
}
.attribution a {
    color: var(--color-text-foot);
}

.footer:hover .attribution,
.footer:hover a {
    color: var(--color-text-foot-hover);
}
.attribution a:hover {
    color: var(--color-text-foot-link);
}
