@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;600;700&family=Fira+Code&display=swap");
@import url("https://fontlibrary.org//face/segment7");

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

body {
    --color-bkg-1: hsl(0, 0%, 100%);
    --color-bkg-2: hsl(0, 0%, 95%);
    --color-bkg-3: hsl(0, 0%, 87%);

    --color-text-1: hsl(0, 0%, 0%);
    --color-text-number: lab(55 -11.72 -58.05);
    --color-text-symbol: lab(49 83.99 -29.48);
    --color-text-btn: var(--color-text-1);

    --color-result-underline: hsl(0, 0%, 66%);

    --color-btn-shadow: hsl(0deg 0% 0% / 0.5);
    --shad-btn-rim-inner: 0 0 0 0.04rem grey;

    --color-btn-select-front: hsl(180, 69%, 66%);
    --color-select-rim: var(--shad-btn-rim-inner),
        0 0 0 0.34rem var(--color-btn-select-front);
    --color-btn-select-edge: linear-gradient(
        to left,
        hsl(180, 87%, 26%) 0%,
        hsl(180, 87%, 35%) 6%,
        hsl(180, 87%, 35%) 94%,
        hsl(180, 87%, 26%) 100%
    );
    --color-btn-select-list: hsl(180, 87%, 35%);

    --color-num-bright: lab(55 -11.72 -58.05 / 0.45);
    --color-num-bord: hsl(30, 7%, 71%);
    --color-num-rim-edge: linear-gradient(
        to left,
        hsl(30 2% 50%) 0%,
        hsl(30 2% 60%) 18%,
        hsl(30 2% 60%) 82%,
        hsl(30 2% 50%) 100%
    );

    --color-gen_btn-front: lab(81 -12.9 -25.14);
    --color-gen_btn-rim: var(--shad-btn-rim-inner),
        0 0 0 0.34rem var(--color-gen_btn-front);
    --color-gen_btn-edge: linear-gradient(
        to left,
        hsl(200deg 100% 26%) 0%,
        hsl(200deg 100% 40%) 8%,
        hsl(200deg 100% 40%) 92%,
        hsl(200deg 100% 26%) 100%
    );

    --color-btn-copy-front: lab(78 25.23 -36.4);
    --color-copy-rim: var(--shad-btn-rim-inner),
        0 0 0 0.34rem var(--color-btn-copy-front);
    --color-btn-copy-edge: linear-gradient(
        to left,
        hsl(275deg 28% 35%) 0%,
        hsl(275deg 28% 50%) 25%,
        hsl(275deg 28% 50%) 75%,
        hsl(275deg 28% 35%) 100%
    );
}

* {
    box-sizing: border-box;
}

.page-wrapper {
    color: var(--color-text-1);
    font-family: "Azeret Mono", "Courier New", Courier, monospace;
    font-weight: normal;
    background-color: var(--color-bkg-1);
    padding: 15px;
    min-height: 100vh;
    display: grid;
    place-content: center;
    justify-items: center;
}

.app-container {
    background-color: var(--color-bkg-2);
    border-radius: 8px;

    padding: 30px 0.8rem 1.8rem;
    width: 42rem;
    width: 50rem;
    position: relative;
}

.title {
    font-weight: 700;
    margin: 5px 0 5px;
    text-align: center;
}

.result-section {
    background-color: var(--color-bkg-2);
    padding: 20px 0;
    position: relative;
    width: 100%;
    font-family: "Fira code", Courier, monospace;
}

.result-container {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 46px;
    letter-spacing: 1px;
    padding: 12px 2rem 0px;
    height: 60px;
    margin: 0;
}

#result {
    display: inline-block;
    color: var(--color-text-1);
    border-bottom: 4px solid var(--color-result-underline);
    font-size: 2rem;
    letter-spacing: 0.25ch;
    min-width: 1ch;
    padding-bottom: 1px;
    margin: 0 5px 0 0;
    height: 1.5em;
}

.output-number {
    color: var(--color-text-number);
}

.output-symbol {
    color: var(--color-text-symbol);
}

.spellphabet-section {
    min-height: 8rem;
    transition: height 200ms;

    line-height: 200%;
    width: 100%;
    padding: 1rem 2rem 0;
}

/* || Buttons */

.buttons {
    display: flex;
    gap: 2rem;
    margin: auto;
    padding: 0 0.34rem;
    width: 32.15rem;
    width: 45rem;
    width: 48rem;
    /* width: 53rem; */
    position: relative;
    justify-content: center;

    /* transform: translateY */
    --front-shift: -5px;
    --shadow-shift: 2.5px;
    /* .5 */

    --hover-front-shift: -6px;
    --hover-shadow-shift: 4px;
    /* .66 */

    --active-front-shift: -2.1px;
    --active-shadow-shift: 1.9px;
    /* .9 */

    /* transition: */
    --transit-base-time: 600ms;
    --transit-base-front: filter var(--transit-base-time),
        transform var(--transit-base-time) cubic-bezier(0.3, 0.7, 0.4, 1);
    --transit-base-edge: filter var(--transit-base-time);
    --transit-base-shadow: transform var(--transit-base-time)
        cubic-bezier(0.3, 0.7, 0.4, 1);

    --transit-hover: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
    --transit-active: transform 34ms;
    /* --transit-front-hover: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
    --transit-shadow-hover: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5); */
    /* --transit-front-active: transform 34ms;
    --transit-shadow-active: transform 34ms; */
}

.pushable {
    font-family: "Azeret Mono", Courier, monospace;
    font-weight: 600;
    display: inline-block;
    position: relative;
    border: none;
    border-radius: 0.75rem;
    background: transparent;
    padding: 0;
    outline-offset: 8px;
    transition: filter 600ms;

    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}

.rim {
    background-color: transparent;
    box-shadow: var(--color-gen_btn-rim);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;

    filter: brightness(90%);
}

.shadow {
    background: var(--color-btn-shadow);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;

    will-change: transform;
    transform: translateY(var(--shadow-shift));
    transition: var(--transit-base-shadow);
}

.edge {
    background: var(--color-gen_btn-edge);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;

    transition: var(--transit-base-edge);
}

.front {
    font-size: 1.25rem;
    color: var(--color-text-btn);
    background-color: var(--color-gen_btn-front);

    padding: 0.75rem 2.625rem;
    display: block;
    position: relative;
    border-radius: inherit;

    will-change: transform;
    transform: translateY(var(--front-shift));
    transition: var(--transit-base-front);
}

.spellphabet-btn {
}

[data-inclusive-menu] {
    position: relative;
    display: inline-block;
}

[data-inclusive-menu-opens],
[data-inclusive-menu] [role^="menuitem"] {
    text-align: left;
    border: 0;
}

[data-inclusive-menu] [role="menu"] {
    position: absolute;
    left: 0;
}

[data-inclusive-menu] [data-inclusive-menu-from="right"] {
    left: auto;
    right: 0;
}

[data-inclusive-menu] [role^="menuitem"] {
    display: block;
    min-width: 100%;
    white-space: nowrap;
}

[data-inclusive-menu] [role^="menuitem"][aria-checked="true"] {
    /* border: 4px solid rgb(7, 214, 7); */
}

.custom-menu {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    --expanded_mod-y: -66px;
    --expanded_shift-y-front: calc(var(--expanded_mod-y) + var(--front-shift));
    --expanded_shift-y-front-hover: calc(
        var(--expanded_mod-y) + var(--hover-front-shift)
    );
    --expanded_base-time: 100ms;
    --expanded_edge-time: 150ms;

    --transit-menu-front: filter var(--transit-base-time),
        transform var(--transit-base-time) cubic-bezier(0.3, 0.7, 0.4, 1);
    --transit-menu-front-expanded: filter var(--expanded_base-time),
        transform var(--expanded_base-time) cubic-bezier(0.3, 0.7, 0.4, 1);

    .front {
        font-size: 0.8rem;
        padding: 0.6rem 2.1rem 0.6rem 1rem;
        background-color: var(--color-btn-select-front);
        transition: var(--transit-menu-front);
    }
    .edge {
        background: var(--color-btn-select-edge);
    }
    .rim {
        box-shadow: var(--color-select-rim);
    }

    /* [aria-expanded="true"] {
        .front {
            transform: translateY(var(--expanded_shift-y-front));
            transition: var(--transit-menu-front-expanded);
        }
        .edge {
            will-change: height, transform;
            transform: translateY(var(--expanded_mod-y));
            height: calc(100% - var(--expanded_mod-y));

            transition: height var(--expanded_edge-time)
                    cubic-bezier(0.3, 0.7, 0.4, 1),
                transform var(--expanded_edge-time)
                    cubic-bezier(0.3, 0.7, 0.4, 1);
        }
        .shadow {
        }
    } */

    /* [aria-expanded="true"]:hover {
        .front {
            transform: translateY(var(--expanded_shift-y-front-hover));
        }
        .edge {
            will-change: height, transform;
            transform: translateY(-66px);
            height: calc(100% + 66px);
            transition: height var(--expanded_base-time)
                cubic-bezier(0.3, 0.7, 0.4, 1);
        }
        .shadow {
        }
    }

    [aria-expanded="true"]:active {
        .front {
            transform: translateY(var(--active-front-shift));
            transition: transform 34ms;
        }

        .shadow {
            transform: translateY(var(--active-shadow-shift));
            transition: transform 34ms;
        }
    } */
}

.dropdown-arrow {
    position: absolute;
    right: 1rem;
    bottom: 0.7rem;
    transform: scale(150%);
}

/* .spell-list {
    width: 100%;
    padding: 0 0.7rem;
    transform: translateY(-1rem);
}

.spellphabet-option {
    color: white;
    font-family: "Azeret Mono", Courier, monospace;
} */

/* .custom-select {
    position: relative;
    border-radius: 0.75rem;
}

.select-label {
    position: absolute;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}

.select-spellphabet {
    font-family: "Azeret Mono", Courier, monospace;
    font-size: 1rem;
    padding: 1em 1.5em;
    border: 0;
    border-radius: inherit;
}

.custom-select-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background: red;
    height: 3em;
    width: 2.4em;
    pointer-events: none;
} */

.btn-copy {
    .front {
        padding: 0.75rem 1rem;
        background-color: var(--color-btn-copy-front);
    }

    .edge {
        background: var(--color-btn-copy-edge);
    }

    .rim {
        box-shadow: var(--color-copy-rim);
    }
}

.pushable:hover {
    .front {
        transform: translateY(var(--hover-front-shift));
        filter: brightness(110%);
        transition: filter 250ms,
            transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
    }

    .edge {
        filter: brightness(110%);
        transition: filter 250ms;
    }

    .shadow {
        transform: translateY(var(--hover-shadow-shift));
        transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
    }
}

.pushable:active
/* input[type="checkbox"]:checked + .pushable */ {
    .front {
        transform: translateY(var(--active-front-shift));
        transition: transform 34ms;
    }

    .shadow {
        transform: translateY(var(--active-shadow-shift));
        transition: transform 34ms;
    }
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}

.spinner {
    display: none;
    width: 0px;
}

.number-input {
    position: relative;
    display: block;
    box-shadow: 0 0 0 4px var(--color-num-bord);
    border-radius: 0.5rem;
    height: inherit;
}

.number-input .rim-edge {
    background: var(--color-num-rim-edge);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    font-size: 1.7rem;
    font-family: "Segment7Standard", Courier, monospace;
    color: var(--color-text-number);
    background-color: rgb(247 247 247);
    border-radius: inherit;
    border: 0;
    padding: 12px 2px 0px 5px;
    position: relative;
    transform: translateY(2px);
    will-change: filter;
    transition: filter 100ms;

    height: 96%;
}

.number-input:hover {
    filter: brightness(110%);
    transition: filter 100ms;
}

.number-input label {
    font-size: 0.5rem;
    font-weight: 600;
    position: absolute;
    top: 0.3rem;
    left: 0.43rem;
}

.num-rim {
    box-shadow: 0 0 0 4px var(--color-num-bord);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    border-radius: inherit;
    background-color: transparent;
}

/* || Settings */

.settings-section {
    font-size: 0.79rem;
    display: grid;
    grid-template-columns: min-content;
    gap: 1rem;
    margin: 2.5rem 2rem 0;
}

.setting,
.include-label {
    position: relative;
    grid-row: 1;
}

.include-label {
    text-align: end;
    width: min-content;
    display: block;
    padding: 0.6rem 0rem 0.6rem 0rem;
}

.setting {
    box-shadow: 0 0 0.4rem 0rem hsl(0, 0%, 63%);
    border-radius: 0.5rem;

    will-change: transform, filter;
    transition: transform 200ms, filter 200ms;
}

.setting:has(:checked) {
    box-shadow: none;
}

.setting:hover {
    transform: scale(102%);
    filter: brightness(120%);
    transition: transform 70ms, filter 70ms;
}

.setting label {
    text-align: center;
    display: block;
    border-radius: inherit;
}
.label-text {
    position: relative;
    background-color: var(--color-bkg-1);
    padding: 0.6rem /*  0.6rem 0.6rem 1rem */;
    border-radius: inherit;

    display: block;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.push-check {
    border-radius: inherit;
    position: relative;
    z-index: 0;
}

:checked + .push-check {
    background-color: var(--color-bkg-1);
}

.push-check::before,
.push-check::after {
    content: "";
    position: absolute;
    inset: -0.1rem;
    z-index: -1;
    border-radius: 0.6rem;
    background: conic-gradient(
        from var(--gradient-angle),
        rgb(15, 215, 215),
        rgb(148, 166, 238),
        rgb(3, 232, 232),
        rgb(208, 140, 233),
        rgb(135, 185, 235),
        rgb(15, 215, 215)
    );

    filter: opacity(0%);
    transition: filter 130ms;
}

.push-check::after {
    filter: blur(0.5rem) opacity(0%);
}

:checked + .push-check::before,
:checked + .push-check::after {
    animation: rotation 10s linear infinite;
    filter: opacity(50%);
}

:checked + .push-check::after {
    filter: blur(0.5rem) opacity(50%);
}

/* prettier-ignore */
@keyframes rotation {
    0%   { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg; }
}

@media screen and (max-width: 400px) {
    .result-container {
        font-size: 14px;
    }
}

/* Dialog */
/**
 * 1. Make the dialog container, and its child overlay spread across
 *    the entire window.
 */
.dialog-container,
.dialog-overlay {
    position: fixed; /* 1 */
    top: 0; /* 1 */
    right: 0; /* 1 */
    bottom: 0; /* 1 */
    left: 0; /* 1 */
}

/**
  * 1. Make sure the dialog container and all its descendants sits on
  *    top of the rest of the page.
  * 2. Make the dialog container a flex container to easily center the
  *    dialog.
  */
.dialog-container {
    z-index: 2; /* 1 */
    display: flex; /* 2 */
}

/**
  * 1. Make sure the dialog container and all its descendants are not
  *    visible and not focusable when it is hidden.
  */
.dialog-container[aria-hidden="true"] {
    display: none; /* 1 */
}

/**
  * 1. Make the overlay look like an overlay.
  */
.dialog-overlay {
    background-color: rgb(43 46 56 / 0.9); /* 1 */
}

/**
  * 1. Vertically and horizontally center the dialog in the page.
  * 2. Make sure the dialog sits on top of the overlay.
  * 3. Make sure the dialog has an opaque background.
  */
.dialog-content {
    margin: auto; /* 1 */
    z-index: 2; /* 2 */
    position: relative; /* 2 */
    background-color: white; /* 3 */
}

/* Modal */
/* .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    min-width: 450px;
    padding: 2rem;
    min-height: 250px;
    position: absolute;
    top: 30%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
}

.modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

.modal-heading {
    font-size: ;
    margin: 0;
} */

.spell-group {
    display: block;
    width: 100%;
    padding-inline: 1.5rem;
}

.option-wrapper {
    display: block;
    position: relative;
    margin: 1rem 0;
}

.spellphabet-option {
    font-size: 1.5rem;
    font-family: "Azeret Mono", Courier, monospace;
}

/* .modal-btn-open {
    position: absolute;
    bottom: 150px;
} */

/* .modal-btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
} */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}
